<!-- Footer -->
<footer class="page-footer font-small white">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>

          <ul class="list-unstyled">
            <li>
              <img src="https://sandbox-uploads.imgix.net/u/1554764513-ccc0215d64e717809195fe06ec0daa6f?w=600"
               height="50px" width="80px" class="img-responsive" alt="Cinque Terre">
            </li>
            <li>
              <h4>Acko General Insurance Ltd.</h4>
            </li>
            <li>
              <p>9, 17th A Main Rd, Near Sukh Sagar Restaurant, 5th Block, Koramangala, Bengaluru, Karnataka 56009
              </p>
            </li>
            <li> Phone:  1860 266 2256</li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">COMPANY</h5>

          <ul class="list-unstyled">
              <li>
                  <a href="#!">About Us </a>
                </li>
                <li>
                  <a href="#!">Board of Directors</a>
                </li>
                <li>
                  <a href="#!">Careers</a>
                </li>
                <li>
                  <a href="#!">Articles</a>
                </li>
                <li>
                    <a href="#!">Partnerships</a>
                  </li>
                  <li>
                      <a href="#!">Sitemap</a>
                    </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">SUPPORT</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Consumer Buying Process</a>
            </li>
            <li>
              <a href="#!">Cancellations & refunds</a>
            </li>
            <li>
              <a href="#!">Customer Service</a>
            </li>
            <li>
              <a href="#!">Downloads</a>
            </li>
            <li>
                <a href="#!">Contact Us</a>
              </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">LEGAL</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Whistelblower Policy</a>
            </li>
            <li>
              <a href="#!">Public disclosure</a>
            </li>
            <li>
              <a href="#!">Financial & disclosure</a>
            </li>
            <li>
              <a href="#!">Privacy Policy</a>
            </li>
            <li>
                <a href="#!">Terms and Conditions</a>
              </li>
              <li>
                <a href="#!">Stewardship Code</a>
              </li>
          </ul>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->